# Configuração do Servidor
PORT=3060
NODE_ENV=development

# Configuração do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5442
DB_USER=unyco_user
DB_PASSWORD=unyco_secret
DB_NAME=unyco_eventos_db
